.elements{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items:left;
    height: 50%;
    top: 33%;
    width: 30%;
    justify-content: space-around;
}
.elements button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:30%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1% 2%;
    text-transform: uppercase;
    color: rgb(255, 162, 0);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;;
    border: none;
    background: rgba(0, 0, 0, 0.575);
}   .elements button:nth-child(odd){
    width: 40%;
}
.elements button:hover{
    border: 2px solid orange;
    border-left: none;
}
.elements button img{
    height: 20px;
    width: 20px;
    margin-right: 4px;
}
body{
    margin: 0;
}
section{
display: flex;
position: relative;
flex-direction: column;
background-color: rgb(255, 255, 255);
height: 100vh;
overflow: hidden;
}
section .container{
background-color:red; 
height: inherit;
display: flex;
flex-direction: column;
}section .container .content2{
width: 100%;
}
section .img-one{
position: absolute;
top: 20%;
right: 0%;
border: 1px solid rgb(232, 232, 232);
padding:1% 5%;
border-bottom-left-radius: 160px;
border-top-left-radius: 160px;
background-color: white;
width: 40%;


}
section .img-two{
position: absolute;
top: 40%;
left: 0%;
width: 40%;
animation: bounceAnimation 20s linear infinite;
}

@keyframes bounceAnimation {
0%, 100% {
transform: translateY(0) rotate(0);
}
50% {
transform: translateY(-10px) rotate(-15deg);
}
}
section header{
top: 0;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;

}section header .logos{
width: 20%;
}
section header .links{
display: flex;
flex-direction: row;
align-items: center;    
justify-content: space-around;
width: 80%;
}
.logo{
z-index: 6;
top: -3%;
left: 4%;
position: absolute;
width: 100%;
height: 110px;
width:15%;
}
section header .links ul{
display: flex;
flex-direction:row;
align-items: center;width: 60%;
justify-content: space-around;
list-style: none;
}
section header .links ul li{
padding:0.1% 2%;
border-bottom: 2px solid rgba(255, 255, 255, 0.296);
}section header .links ul li:hover{
padding:0.1% 2%;
}section header .links ul li:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.849);
}
section header .links ul li a{
text-decoration: none;
text-transform: uppercase;
font-size: 12px;
font-weight: bold;
letter-spacing: 2px;
font-family: 'Poppins', sans-serif;
color: rgb(255, 255, 255);
}
section .container .title{
position: absolute;
top: 15%;
padding: 0% 2%;
height:100vh;
right: 55%;
background-color: red;
}
section .container .title h1{
font-size: 40px;
color:rgb(243, 241, 241);
text-shadow: 2px 2px 4px #c8c8c8;
margin: 0;
padding: 0;
font-weight: bolder;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px;
letter-spacing: 7px;
font-family: 'Poppins', sans-serif;
}
.half-border {
height: 1px;
width: 100%;
border-radius: 3px;
}


section .container .title p{
margin: 0;
color: white;
font-family: 'Poppins',sans-serif;
}
.button{
position: absolute;
top:88%;
background-color:rgba(132, 58, 5, 0.807); 
color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 20%;
left: 15%;
box-shadow: 2px 2px 18px rgb(255, 0, 0);
border-radius: 6px;
padding: 0.1% 0%;
font-size: 14px;
letter-spacing: 2px;
border-bottom: 4px solid orange;
border-top: 4px solid orange;
font-weight: bold;
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
text-decoration: none;
}
.button:hover{
background-color: orangered;
}
.circle{
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
right: 15%;
top: 40%;
background-color: rgb(249, 249, 249);
width:30px;
height: 30px;
box-shadow: 2px 2px 15px rgb(159, 159, 159);
border:4px solid rgb(206, 6, 6);
border-radius: 360px;
}

.circle button{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
height:30px;
width: 30px;
border: 2px solid rgb(206, 6, 6);;
background-color: rgb(0, 0, 0);
border-radius: 360px;
}.circle button span{
width: 10px;
height: 10px;
border-radius: 360px;
background-color: rgb(252, 203, 5);
border: 2px solid rgb(206, 6, 6);;
}.circle:hover{
background-color: orange;
}
.circle:hover .texts{
    display: flex;
    }
.circle button:hover{
background-color: rgb(203, 3, 3);
border: 2px solid rgb(21, 18, 18);;

}
.texts{
    position: absolute;
    display:none;
    flex-direction: column;
    right:50%;
    top:30%;
    z-index: 6;
    border-radius: 6px;
    height: 100px;
    padding: 15%;
    box-shadow: 2px 2px 8px rgb(39, 31, 31);
    width: 150px;
    background-color: rgb(255, 255, 255);
}.texts p{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-transform: capitalize;
    margin: 0px;
}